body{background-color: blanchedalmond;}
h1{
    color: bisque;
    text-align: center;
    font-size:72px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

li{
    font-family: cursive;
}